<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lavação de carros</title>
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <nav>
                <ul>
                    <div><li><a href="index.html">Página Inicial</a></li></div>
                    <div><li><a href="cliente.html">Cadastro de cliente</a></li></div>
                    <div><li><a href="servicos.html">Cadastro de automóvel</a></li></div>
                </ul>
            </nav>   
        </div>
        <div class="form">
            <h1>Cadastrar Cliente</h1>
            <form action="">
                <label for="">Nome do Cliente</label>
                <input type="text">
                <label for="">Endereço</label>
                <input type="text">
                <label for="">E-mail</label>
                <input type="email">
                <label for="">Nome do usuário</label>
                <input type="text">
                <label for="">Digite sua senha</label>
                <input type="password">
                <label for="">Telefone</label>
                <input type="tel">
                <button><p><a class="none" href="servicos.html">enviar</a></p></button>

            </form>
        </div>
    </div>
</body>
</html>