<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lavação de carros</title>
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <nav>
                <ul>
                    <div><li><a href="index.html">Página Inicial</a></li></div>
                    <div><li><a href="cliente.html">Cadastro de cliente</a></li></div>
                    <div><li><a href="">Cadastro de automóvel</a></li></div>
                    <div><li><a href="">Contatos</a></li></div>
                </ul>
            </nav>   
        </div>
        <div class="apresentation">
            <h1>Bem vindo a nossa lavação de carros</h1>
            <h2>Aqui você acha ofertas que cabem no seu bolso</h2>
            <p>Você pode clicar no link aqui abaixo para efetuar seu cadastro, caso já tenho já pode efetuar o tipo de serviço que deseja</p>
            <div class="link">
                <a href="cliente.html">cadastro do cliente</a>
                <a href="">cadastro do veiculo</a>
            </div>
        </div>
    </div>
</body>
</html>