<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lavação de carros</title>
</head>
<body>
    <div class="container">
        <div class="flex-container">
            <nav>
                <ul>
                    <div><li><a href="index.html">Página Inicial</a></li></div>
                    <div><li><a href="cliente.html">Cadastro de cliente</a></li></div>
                    <div><li><a href="servicos.html">Cadastro de automóvel</a></li></div>
                </ul>
            </nav>   
        </div>
        <div class="form">
            <h1>Dados do Veiculo</h1>
            <form action="">
                <label for="">Marca do veiculo</label>
                <input type="text">
                <label for="">Modelo</label>
                <input type="text">
                <label for="">Placa do Veículo</label>
                <input type="text">
                <label for="">Modelo</label>
                <input type="text">
                <label for="">Tipo de serviço</label>
                <select name="" id="servicos">
                    <option value="lavacao-completa">Lavação completa 100 Reais</option>
                    <option value="Impermeabilização de bancos">Impermeabilização de bancos 70 Reais</option>
                    <option value="Lavação de motor">Lavação de motor 150 reais</option>
                    <option value="Polimento">Polimento 120 Reais</option>
                    <option value="Polimento espelhado">Polimento Espelhado 140 reais</option>
                </select>
                <button><a href="cliente.html">p>enviar</p></a></button>  

            </form>
        </div>
    </div>
</body>
</html>