* {
    margin: 0;

}



.flex-container {
    display:  flex;
    justify-content: center;
    border: 2px solid black;
    background-color: rgb(18, 14, 14);
    
}

.flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}

ul, a {
    display: flex;
    text-decoration: none;
    color: rgb(219, 206, 206);
    margin: 10px;
    font-size: 18px;
    
}

nav { 
    margin-right: 900px;
}

a:hover {
    color: rgb(200, 189, 179);
    text-decoration: none;
}



li {
    margin: 10px;
    list-style: none;
}

.apresentation h1, h2, p { 
    text-align: center;
    margin-top: 30px;
}



.link {
    display: flex;
    justify-content: center;
}

.link a {
    margin: 10px;
    margin-top: 20px;
    color: gray;
    font-size: 20px;
}

.form {
    width: 350px;
    margin: auto;
    margin-top: 20px;
}

.form h1 {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}



input { 
    height: 35px;
    border-radius: 40px;
}


button {
    display: flex;
    justify-content: center;
    width: 100px;
    margin-left: 125px;
    height: 40px;
    border-radius: 10px;

}



#servicos {
    height: 35px;
    font-size: 15px;
    border-radius: 10px;
}

a.none {
    text-decoration: none;
    font-size: 15px;
    color: black;
    
}

footer {
    text-align: center;
    margin-top: 160px;
    
}